<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net/nz/thymeleaf/layout"
      layout:decorate="~{layouts/work}">
<head>
    <meta charset="UTF-8">
    <title th:text="${headerTitle}">Title</title>
</head>
<body>
<div layout:fragment="create">
    <tr>
        <td class="table-active w-25 text-center"><label for="staff">직원명</label></td>
        <td class="w-25">
            <input type="text" id="staff" class="inner-width form-control" name="staff">
        </td>
        <td class="table-active w-25 text-center"><label for="userId">직원 아이디</label></td>
        <td class="w-25">
            <input type="text" id="userId" class="inner-width form-control" name="userId">
        </td>
    </tr>
    <tr>
        <td class="table-active w-25 text-center"><label for="monthly">근태 결산 기간(년-월)</label></td>
        <td class="w-75" colspan="3">
            <input type="text" id="monthly" class="inner-width form-control" name="monthly">
        </td>
    </tr>
    <tr>
        <td class="table-active w-25 text-center"><label for="attendance">출근</label></td>
        <td class="w-25">
            <input type="text" id="attendance" class="inner-width form-control" name="attendance">
        </td>
        <td class="table-active w-25 text-center"><label for="absence">결근</label></td>
        <td class="w-25">
            <input type="text" id="absence" class="inner-width form-control" name="absence">
        </td>
    </tr>
    <tr>
        <td class="table-active w-25 text-center"><label for="lateness">지각</label></td>
        <td class="w-25">
            <input type="text" id="lateness" class="inner-width form-control" name="lateness">
        </td>
        <td class="table-active w-25 text-center"><label for="holiday">휴가</label></td>
        <td class="w-25">
            <input type="text" id="holiday" class="inner-width form-control" name="holiday">
        </td>
    </tr>
</div>

<div layout:fragment="view-update">
    <tr>
        <td class="table-active w-25 text-center">직원명</td>
        <td class="table-active w-25">부서</td>
        <td class="table-active w-25 text-center">과</td>
        <td class="table-active w-25"></td>
    </tr>
    <tr>
        <td class="w-25 text-center" th:text="${staff.staffName}"></td>
        <td class="w-25 text-center" th:text="${staff.department.departmentName}"></td>
        <td class="w-25 text-center" th:text="${staff.section.sectionName}"></td>
        <td class="w-25"></td>
    </tr>
    <tr>
        <td class="table-active w-25 text-center">근태 결산 기간</td>
        <td class="w-75" colspan="3" th:text="${commuteMonthlyRecord.monthly}"></td>
    </tr>
    <div th:if="${isUpdate}">
        <tr>
            <td class="table-active w-25 text-center"><label for="uAttendance">출근</label></td>
            <td class="w-25">
                <input type="text" id="uAttendance" class="inner-width form-control"
                       th:value="${commuteMonthlyRecord.attendance}" name="attendance">
            </td>
            <td class="table-active w-25 text-center"><label for="uAbsence">결근</label></td>
            <td class="w-25">
                <input type="text" id="uAbsence" class="inner-width form-control"
                       th:value="${commuteMonthlyRecord.absence}" name="absence">
            </td>
        </tr>
        <tr>
            <td class="table-active w-25 text-center"><label for="uLateness">지각</label></td>
            <td class="w-25">
                <input type="text" id="uLateness" class="inner-width form-control"
                       th:value="${commuteMonthlyRecord.lateness}" name="lateness">
            </td>
            <td class="table-active w-25 text-center"><label for="uHoliday">휴가</label></td>
            <td class="w-25">
                <input type="text" id="uHoliday" class="inner-width form-control"
                       th:value="${commuteMonthlyRecord.holiday}" name="holiday">
            </td>
        </tr>
    </div>
    <div th:unless="${isUpdate}">
        <tr>
            <td class="table-active w-25 text-center">출근</td>
            <td class="w-25" th:text="${commuteMonthlyRecord.attendance}"></td>
            <td class="table-active w-25 text-center">결근</td>
            <td class="w-25" th:text="${commuteMonthlyRecord.absence}"></td>
        </tr>
        <tr>
            <td class="table-active w-25 text-center">지각</td>
            <td class="w-25" th:text="${commuteMonthlyRecord.lateness}"></td>
            <td class="table-active w-25 text-center">휴가</td>
            <td class="w-25" th:text="${commuteMonthlyRecord.holiday}"></td>
        </tr>
    </div>

</div>

<div layout:fragment="input-hidden-data">
    <input type="hidden" name="draftStaff" th:value="${draftStaff.staffName}">
</div>

</body>
</html>