.write-container{
    width: 100%;
}
.write-header{
    width: 100%; height: 100px;
}
.write-header-title{
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}
.write-container > form {
    width: 100%;
}

.write-space{
    margin: 10px 0;
    width: 100%; height: 100%;
}

textarea{
    width: 100%;
    height: 15em;
    resize: none;
}

.inner-width{
    width: 100%;
}

.clear-area{
    clear: both;
    width: 100%;
    height : 0.5em;
}