<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net/nz/thymeleaf/layout"
      layout:decorate="~{layouts/work_v8}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="view-update">
    <div th:unless="${isUpdate}">
        <tr>
            <td class="table-active width-20">1</td>
            <td class="width-20">2</td>
            <td class="table-active width-20">3</td>
            <td class="width-20">4</td>
            <td class="table-active width-20">5</td>
        </tr>
        <tr>
            <td class="table-active width-20">1</td>
            <td class="width-20">2</td>
            <td class="table-active width-20">3</td>
            <td class="width-20">4</td>
            <td class="table-active width-20">5</td>
        </tr>
        <tr>
            <td class="table-active width-20">1</td>
            <td class="width-20">2</td>
            <td class="table-active width-20">3</td>
            <td class="width-20">4</td>
            <td class="table-active width-20">5</td>
        </tr>
        <tr>
            <td class="table-active width-20">1</td>
            <td class="width-20">2</td>
            <td class="table-active width-20">3</td>
            <td class="width-20">4</td>
            <td class="table-active width-20">5</td>
        </tr>
        <tr>
            <td class="table-active width-20">1</td>
            <td class="width-20">2</td>
            <td class="table-active width-20">3</td>
            <td class="width-20">4</td>
            <td class="table-active width-20">5</td>
        </tr>
    </div>
</div>
</body>
</html>