body{

}
.container{
    width: 81.25em;
    margin: 0 auto;
}
#middle{
    width: 81.25em;
}
#right{
    display:inline-block;
    float:right;
    width: 82.5%;
    z-index: 1;
}
#middle-write{
    margin: 0 auto;
}
.alert-design{
    height: 5em;
    margin: 0.3125em 0;
}
.header-search {
    margin-bottom: 1.25em;
    float: right;
    width: 100%;
}
.clear-area{
    clear:both;
    width: 81.25em;
    height: 1em;
}
