<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net/nz/thymeleaf/layout"
      layout:decorate="~{layouts/work}">
<head>
    <meta charset="UTF-8">
    <title th:text="${headerTitle}">Title</title>
</head>
<body>
<div layout:fragment="create">
    <tr>
        <td class="table-active width-16 text-center"><label for="name">고객명</label></td>
        <td class="table-active width-16 text-center"><label for="type">업종</label></td>
        <td class="table-active width-16 text-center"><label for="location">위치</label></td>
        <td class="table-active width-16 text-center"><label for="contact">연락처</label></td>
        <td class="table-active width-33" colspan="2"></td>
    </tr>
    <tr>
        <td class="width-16">
            <input type="text" id="name" class="inner-width form-control" name="name">
        </td>
        <td class="width-16">
            <input type="text" id="type" class="inner-width form-control" name="type">
        </td>
        <td class="width-16">
            <input type="text" id="location" class="inner-width form-control" name="location">
        </td>
        <td class="width-16">
            <input type="text" id="contact" class="inner-width form-control" name="contact">
        </td>
        <td class="width-33" colspan="2"></td>
    </tr>
    <tr>
        <td class="table-active width-16 text-center"><label for="quotation">견적서 이름</label></td>
        <td class="width-16">
            <input type="text" id="quotation" class="inner-width form-control" name="quotation">
        </td>
        <td class="table-active width-16 text-center"><label for="date">견적 일시</label></td>
        <td class="width-16">
            <input type="date" id="date" class="inner-width form-control" name="date">
        </td>
        <td class="table-active width-16 text-center"><label for="developPeriod">개발 기간</label></td>
        <td class="width-16">
            <input type="text" id="developPeriod" class="inner-width form-control" name="developPeriod">
        </td>
    </tr>
    <tr>
        <td class="table-active width-16 text-center"><label for="option">옵션</label></td>
        <td class="width-83" colspan="5">
            <textarea id="option" class="inner-width form-control" name="option"></textarea>
        </td>
    </tr>
    <tr>
        <td class="table-active width-16 text-center">항목</td>
        <td class="table-active width-16 text-center">분류</td>
        <td class="table-active width-16 text-center">등급</td>
        <td class="table-active width-16 text-center">기준일</td>
        <td class="table-active width-16 text-center">수량</td>
        <th class="table-active width-16">
            <button type="button" class="btn btn-secondary inner-width" onclick="insertMenuEvent(1, 0)">행 추가</button>
        </th>
    </tr>
    <tr>
        <td class="width-16"><input type="text" class="inner-width form-control" name="item"></td>
        <td class="width-16"><input type="text" class="inner-width form-control" name="type"></td>
        <td class="width-16"><input type="text" class="inner-width form-control" name="grade"></td>
        <td class="width-16"><input type="date" class="inner-width form-control" name="date"></td>
        <td class="width-16"><input type="text" class="inner-width form-control" name="quantity"></td>
        <td class="width-16"><button type="button" class="inner-width form-control delete-menu" onclick="deleteMenuEvent(this)">행 삭제</button></td>
    </tr>
    <tr>
        <td class="table-active width-16 text-center"><label for="statement">비고</label></td>
        <td class="width-83" colspan="5">
            <textarea id="statement" class="inner-width form-control" name="statement"></textarea>
        </td>
    </tr>
</div>

<div layout:fragment="view-update">
    <div th:if="${isUpdate}">
        <tr>
            <td class="table-active width-16 text-center">고객명</td>
            <td class="table-active width-16 text-center">업종</td>
            <td class="table-active width-16 text-center">위치</td>
            <td class="table-active width-16 text-center">연락처</td>
            <td class="table-active width-33" colspan="2"></td>
        </tr>
        <tr>
            <td class="width-16 text-center" th:text="${developQuotation.patron.name}"></td>
            <td class="width-16 text-center" th:text="${developQuotation.patron.type}"></td>
            <td class="width-16 text-center" th:text="${developQuotation.patron.location}"></td>
            <td class="width-16 text-center" th:text="${developQuotation.patron.contact}"></td>
            <td class="width-33" colspan="2"></td>
        </tr>
        <tr>
            <td class="table-active width-16 text-center"><label for="uQuotation">견적서 이름</label></td>
            <td class="width-16">
                <input type="text" id="uQuotation" class="inner-width form-control" name="quotation" th:value="${developQuotation.quotation}">
            </td>
            <td class="table-active width-16 text-center"><label for="uDate">견적 일시</label></td>
            <td class="width-16">
                <input type="date" id="uDate" class="inner-width form-control" name="date" th:value="${developQuotation.date}">
            </td>
            <td class="table-active width-16 text-center"><label for="uDevelopPeriod">개발 기간</label></td>
            <td class="width-16">
                <input type="text" id="uDevelopPeriod" class="inner-width form-control" name="developPeriod" th:value="${developQuotation.developPeriod}">
            </td>
        </tr>
        <tr>
            <td class="table-active width-16 text-center"><label for="uOption">옵션</label></td>
            <td class="width-83" colspan="5">
                <textarea id="uOption" class="inner-width form-control" name="option" th:text="${developQuotation.option}"></textarea>
            </td>
        </tr>
        <tr>
            <td class="table-active width-16 text-center">항목</td>
            <td class="table-active width-16 text-center">분류</td>
            <td class="table-active width-16 text-center">등급</td>
            <td class="table-active width-16 text-center">기준일</td>
            <td class="table-active width-16 text-center">수량</td>
            <td class="table-active width-16 text-center">
                <button type="button" class="btn btn-secondary inner-width" onclick="insertMenuEvent(1, 0)">행 추가</button>
            </td>
        </tr>
        <tr th:each="unit, status:${developQuotation.units}">
            <td class="width-16"><input type="text" class="inner-width form-control" name="item" th:value="${unit.standardCost.item}"></td>
            <td class="width-16"><input type="text" class="inner-width form-control" name="type" th:value="${unit.standardCost.type}"></td>
            <td class="width-16"><input type="text" class="inner-width form-control" name="grade" th:value="${unit.standardCost.grade}"></td>
            <td class="width-16"><input type="date" class="inner-width form-control" name="date" th:value="${unit.standardCost.date}"></td>
            <td class="width-16"><input type="text" class="inner-width form-control" name="quantity" th:value="${unit.quantity}"></td>
            <td class="width-16"></td>
        </tr>
        <tr>
            <td class="table-active width-16 text-center"><label for="uStatement">비고</label></td>
            <td class="width-83" colspan="3">
                <textarea id="uStatement" class="inner-width form-control" name="statement" th:text="${developQuotation.statement}"></textarea>
            </td>
        </tr>
    </div>
    <div th:unless="${isUpdate}">
        <tr>
            <td class="table-active width-16 text-center">고객명</td>
            <td class="table-active width-16 text-center">업종</td>
            <td class="table-active width-16 text-center">위치</td>
            <td class="table-active width-16 text-center">연락처</td>
            <td class="table-active width-33" colspan="2"></td>
        </tr>
        <tr>
            <td class="width-16 text-center" th:text="${developQuotation.patron.name}"></td>
            <td class="width-16 text-center" th:text="${developQuotation.patron.type}"></td>
            <td class="width-16 text-center" th:text="${developQuotation.patron.location}"></td>
            <td class="width-16 text-center" th:text="${developQuotation.patron.contact}"></td>
            <td class="width-33" colspan="2"></td>
        </tr>
        <tr>
            <td class="table-active width-16 text-center">견적서 이름</td>
            <td class="width-16" th:text="${developQuotation.quotation}"></td>
            <td class="table-active width-16 text-center">견적 일시</td>
            <td class="width-16" th:text="${developQuotation.date}"></td>
            <td class="table-active width-16 text-center">개발 기간</td>
            <td class="width-16" th:text="${developQuotation.developPeriod}"></td>
        </tr>
        <tr>
            <td class="table-active width-16 text-center">옵션</td>
            <td class="width-83" colspan="5" th:text="${developQuotation.option}"></td>
        </tr>
        <tr>
            <td class="table-active width-16 text-center">항목</td>
            <td class="table-active width-16 text-center">분류</td>
            <td class="table-active width-16 text-center">등급</td>
            <td class="table-active width-16 text-center">기준일</td>
            <td class="table-active width-16 text-center">수량</td>
            <td class="table-active width-16 text-center">비용</td>
        </tr>
        <tr th:each="unit, status:${developQuotation.units}">
            <td class="width-16" th:text="${unit.standardCost.item}"></td>
            <td class="width-16" th:text="${unit.standardCost.type}"></td>
            <td class="width-16" th:text="${unit.standardCost.grade}"></td>
            <td class="width-16" th:text="${unit.standardCost.date}"></td>
            <td class="width-16" th:text="${unit.quantity}"></td>
            <td class="width-16" th:text="${unit.unitCost}"></td>
        </tr>
        <tr>
            <td class="table-active width-16 text-center">비고</td>
            <td class="width-83" colspan="3"  th:text="${developQuotation.statement}"></td>
        </tr>
    </div>
</div>

<div layout:fragment="input-hidden-data">
    <input type="hidden" name="draftStaff" th:value="${draftStaff.staffName}">
</div>

</body>
</html>